body {
  background-color: #381054;
}

.tarea {
  padding: 10px;
  margin-bottom: 8px;
  background: #ae6fdbb5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.app {
  max-width: 600px;
  margin: 40px auto; 
  font-family: sans-serif; 
  color: #ffffff
}

.anyadir {
  display: flex; 
  gap: 8px; 
  margin-bottom: 20px;
}

.botonanyadir {
  background-color: #d1cccc;
  width: 70px;
  border-color: #ac64dfb5;
}

.txtanyadir {
  flex: 1;
  padding: 8px;
}

.lista {
  list-style: none; 
  padding: 0;
}

.tarea-texto {
  color: #ffffff;
}

.tarea-completada {
  text-decoration: line-through;
  color: #c8bebe;
}

.botoneliminar {
  background-color: #d1cccc;
  width: 70px;
  border-color: #381054;
}